<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home Page</title>



  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/registerAndLogin.css">
</head>

<body>

  <div class="container">
    <br>
    <p class="text-center">Athletes, hello again!</p>
    <hr>
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Log in</h4>
        <p class="text-center">Continue your workout!</p>
        <p>
          <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via google</a>
          <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
          <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
        </p>
        <p class="divider-text">
          <span class="bg-light">OR</span>
        </p>

        <form>
          <div class="form-group input-group">
             <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Email address" type="email">
          </div>

           <!-- form-group end.// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input id="password-field" class="form-control" placeholder="Password" type="password">
            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
          </div> <!-- form-group// -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Log in </button>
          </div> <!-- form-group// -->

          <p class="log-in-p">Didn't registered yet? <a href="">Register</a> </p>
        </form>
      </article>
    </div> <!-- card.// -->

  </div>
  <!--container end.//-->


  </article>


  <!-- Dumbbell Icon  -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script><script  src="js/showPassword.js"></script>

</body>

</html>
